<!DOCTYPE html>
<html>
  <head>
    <title>Super Adventure</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div id="page">
      <h1>Super Adventure</h1>
      <form id="message-form" method="POST" action="/messages">
        <textarea class= "icarus" id="message-body" name="body" placeholder="Enter a message here."></textarea>
        <button class= "submit" type="submit" >Post Sign</button>
      </form>
      <% if messages.empty? %>
        <h2>Sorry, nothing to see here. :(</h2>
      <% else %>
        <h2>Messages</h2>
        <ol class="message-list">
          <% messages.each do |message| %>
            <li>
              <div class="message-body">
                <%= message.body %>
              </div>
                
                <p>
                  <form action="/messages/<%= message.id %>/delete" method="post">
                    <input class="submit" type="submit" value="Demolish">
                  </form>
                </p>
              
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </body>
</html>