html {
  cursor: url(cursor.png),auto;
  background-image: url('Question_Block.png');
}
body {
  color: rgba(100,100,250,.9);
  font-family: Helvetica, Arial, sans-serif;
}
.icarus {
  border-radius: 5px;
  border-color: rgba(150,150,250,.9);
  background-image: url('Bricksture.jpg');
  background-size: 100%;
  height: 50px;
  width: 250px;
}
.submit {
  color: rgba(100,100,250,.9);
  border-radius: 5px;
  background: url(/Button.jpg);
}

.button {
  float: left;
  color: rgba(100,100,250,.9);
  border-radius: 5px;
  background: url(/Button.jpg);
}
#page {
  margin: 0 auto; /* This centers the #page div horizontally */
  width: 700px;
}

#page nav {
  margin: 20px 0;
}

#page nav ul {
  list-style: none; /* This gets rid of the left-hand-side dots */
  margin: 0;
  padding: 0;
}

#page nav li {
  display: inline-block; /* This makes the list display left-to-right rather than top-to-bottom */
  margin-right: 10px;
}

#post-form textarea {
  width: 400px;
  min-height: 50px;
}
